.banner{
    text-shadow: 0 0 3px gray;
}
.card img {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.timeline-section {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
}

.journey .card{
    transition: transform 0.3s ease,box-shadow 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
} 
.journey .card:hover{
        transform: scale(1.05);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.services-section .card{
    transition: transform 0.3s ease,box-shadow 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
} 
.services-section .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.why-choose .feature-box {
    background: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.why-choose .feature-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.why-choose .feature-box i {
    font-size: 2rem;
    color: #ad8b3a;
}
