
.service-card {
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
}

.service-card img {
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.service-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.service-card .card-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 20px;
}

.service-card .card-text {
    font-size: 0.95rem;
    font-size: 16px;
}

.custom-accordion .accordion-button {
    background-color: #ad8f49;
    color: white;
    font-weight: bold;
}

.custom-accordion .accordion-button:focus {
    border: 1px solid #ad8f49;
    box-shadow: 0 0 3px #ad8f49;
    color: white;
}

.custom-accordion .accordion-button:hover {
    background-color: #806322;
    color: white;
}
